@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-emerald-950: #022c22;
  --color-emerald-900: #064e3b;
  --color-emerald-850: #046a4f;
  --color-emerald-800: #065f46;
  --color-emerald-700: #047857;
  --color-emerald-600: #059669;
  --color-emerald-500: #10b981;
  --color-emerald-100: #d1fae5;
  --color-emerald-50: #ecfdf5;
  --color-purple-500: #a855f7;
}

html {
  scroll-behavior: smooth;
}

